@charset "utf-8";

*{ padding:0; margin:0; box-sizing: border-box;}
html{ height:100%;}
body{overflow-x: hidden; font: 12px "Microsoft Yahei", SimSun, arial, sans-serif; color:#666; height:100%;}
ul,ol{ list-style:none;}
a{ color:inherit; text-decoration:none;}
h1,h2,h3,h4,h5,h6{ font-size:12px; font-weight:normal; font-family:"Microsoft Yahei"; }
i,em{ font-style:normal;}
b,strong{ font-weight:normal;}
a img{ border:none;}
img{ vertical-align:top;}
.clearfix:after{display:block;content:'';clear:both;}
.clearfix{zoom:1;}    /*兼容IE6、7*/
input{outline:none;border:none 0; vertical-align: middle;}
textarea{outline:none;resize:none;}
table{border-collapse:collapse;}
td,th{padding:0;}

.fl{float:left !important;}
.fr{float:right !important;}