<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>政策与指导</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../css/policy_phone.css"/>
    <script>
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 750 * 100 + 'px';
    </script>

</head>
<script src="../js/zepto.min.js"></script>
<body>
<div class="policy_main">
    <div class="main_top">
        <form class="top" action="##" id="form" >
            <img src="../images/policy/search.png"/>
            <input type="text" placeholder="搜狐员工行为规范" />
        </form>
    </div>
    <div class="main">
        <ul class="list">
            <li class="item">
                <div class="title">
                    <img class="title_img" src="../images/policy/img.png"/>
                    <span class="desc">政策查询</span>
                </div>
                <div class="mainWrap">
                    <div class="items_title clearfix">
                        <span class="fl">
                            <img src="../images/policy/w_01.png" class="w_01"/>
                            <span class="text">HR政策查询</span>
                        </span>
                        <span class="fr">
                            <span class="more">更多</span>
                            <img src="../images/policy/w_03.png" class="w_03"/>
                        </span>
                    </div>
                    <ul class="items">
                        <li class="detail">员工手册（2017版）</li>
                        <li class="detail">搜狐员工职业道德行为规范投诉监督管理办法</li>
                        <li class="detail">纪律处罚条例及管理程序</li>
                        <li class="detail">搜狐员工行为规范</li>
                        <li class="detail">搜狐员工职业道德规范</li>
                    </ul>
                    <img src="../images/policy/book.png" class="book"/>
                </div>
                <div class="mainWrap">
                    <div class="items_title clearfix">
                        <span class="fl">
                            <img src="../images/policy/w_01.png" class="w_01"/>
                            <span class="text">HR政策查询</span>
                        </span>
                        <span class="fr">
                            <span class="more">更多</span>
                            <img src="../images/policy/w_03.png" class="w_03"/>
                        </span>
                    </div>
                    <ul class="items">
                        <li class="detail">员工手册（2017版）</li>
                        <li class="detail">搜狐员工职业道德行为规范投诉监督管理办法</li>
                        <li class="detail">纪律处罚条例及管理程序</li>
                        <li class="detail">搜狐员工行为规范</li>
                        <li class="detail">搜狐员工职业道德规范</li>
                    </ul>
                    <img src="../images/policy/book.png" class="book"/>
                </div>
            </li>
            <li class="item">
                <div class="title">
                    <img class="title_img" src="../images/policy/img.png"/>
                    <span class="desc">政策查询</span>
                </div>
                <div class="mainWrap">
                    <div class="items_title clearfix">
                        <span class="fl">
                            <img src="../images/policy/w_01.png" class="w_01"/>
                            <span class="text">HR政策查询</span>
                        </span>
                        <span class="fr">
                            <span class="more">更多</span>
                            <img src="../images/policy/w_03.png" class="w_03"/>
                        </span>
                    </div>
                    <ul class="items">
                        <li class="detail">员工手册（2017版）</li>
                        <li class="detail">搜狐员工职业道德行为规范投诉监督管理办法</li>
                        <li class="detail">纪律处罚条例及管理程序</li>
                        <li class="detail">搜狐员工行为规范</li>
                        <li class="detail">搜狐员工职业道德规范</li>
                    </ul>
                    <img src="../images/policy/book.png" class="book"/>
                </div>
                <div class="mainWrap">
                    <div class="items_title clearfix">
                        <span class="fl">
                            <img src="../images/policy/w_01.png" class="w_01"/>
                            <span class="text">HR政策查询</span>
                        </span>
                        <span class="fr">
                            <span class="more">更多</span>
                            <img src="../images/policy/w_03.png" class="w_03"/>
                        </span>
                    </div>
                    <ul class="items">
                        <li class="detail">员工手册（2017版）</li>
                        <li class="detail">搜狐员工职业道德行为规范投诉监督管理办法</li>
                        <li class="detail">纪律处罚条例及管理程序</li>
                        <li class="detail">搜狐员工行为规范</li>
                        <li class="detail">搜狐员工职业道德规范</li>
                    </ul>
                    <img src="../images/policy/book.png" class="book"/>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    $('#form').tap(function(){
        
    })
</script>
</body>
</html>